---
import config from "@config/config.json";
import Facebook from "@svgs/Facebook.astro";
import Linkedin from "@svgs/Linkedin.astro";
import Twitter from "@svgs/Twitter.astro";

const { base_url, base_path } = config.site;
const { title, description, slug, className } = Astro.props;

const final_url = `${base_url}/${base_path}/${slug}`;
---

<ul class={className}>
  <li class="inline-block">
    <a
      aria-label="facebook share button"
      href={`https://facebook.com/sharer/sharer.php?u=${final_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <Facebook fill="#747577" />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title};url=${final_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <Twitter fill="#747577" />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${final_url}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <Linkedin fill="#747577" />
    </a>
  </li>
</ul>
