---
import Github from "@svgs/Github.astro";
import Linkedin from "@svgs/Linkedin.astro";
import Medium from "@svgs/Medium.astro";
import Twitter from "@svgs/Twitter.astro";

const { source, className } = Astro.props;

const { twitter, linkedin, github, medium } = source;
---

<ul class={className}>
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Twitter />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Linkedin />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Github />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Medium />
        </a>
      </li>
    )
  }
</ul>
