---
const { source, className } = Astro.props;

import {
  IoLogoGithub,
  IoLogoLinkedin,
  IoLogoMedium,
  IoLogoTwitter,
} from "react-icons/io5/index.js";

const { twitter, linkedin, github, medium } = source;
---

<ul class={className}>
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoLinkedin />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMedium />
        </a>
      </li>
    )
  }
</ul>
