---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import Book from "@layouts/components/Book.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize } from "@lib/utils/textConverter";
import { CATEGORIES } from "./index.astro";

export async function getStaticPaths() {
  const categories = await getTaxonomy("posts", "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage("posts");
const filterByCategory = taxonomyFilter(posts, "categories", category);

const title = humanize(category || "");
---

<Base title={title || "Category"}>
  <div class="section">
    <div class="mb-16 flex justify-center">
      <div transition:name={`book-${category}`}>
        <Book
          link={`/programming-journey/categories`}
          imageUrl={CATEGORIES[category].imageUrl}
          imageAlt={CATEGORIES[category].imageAlt}
          isOpened
        />
      </div>
    </div>
    <Posts posts={filterByCategory} fluid={false} />
  </div>
</Base>
