---
import { Picture } from "astro-imagetools/components";

import Share from "@components/Share.astro";
import SimilarPosts from "@components/SimilarPosts.astro";
import Tags from "@components/Tags.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import similerItems from "@lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
import Category from "@svgs/Category.astro";
import DateEvent from "@svgs/DateEvent.astro";

const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const { title, description, categories, date, tags } = post.data;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <div class="text-center md:col-10">
        <h1
          transition:name={`title-${post.slug}`}
          set:html={markdownify(title)}
          class="h2"
        />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li
            transition:name={`date-${post.slug}`}
            class="mx-3 flex flex-wrap items-center gap-1 font-medium"
          >
            <DateEvent />
            <>{dateFormat(date)}</>
          </li>
          <li
            transition:name={`category-${post.slug}`}
            class="mx-3 flex flex-wrap items-center gap-1"
          >
            <Category />
            <>
              <ul>
                {
                  categories.map((category: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`/programming-journey/categories/${slugify(
                          category
                        )}`}
                        class="mr-2 font-medium hover:text-primary"
                      >
                        {humanize(category)}
                        {i !== post.data.categories.length - 1 && ","}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </>
          </li>
        </ul>
      </div>

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <p transition:name={`description-${post.slug}`} class="text-text">
            {post.data.description}
          </p>

          <div transition:name={`hero-${post.slug}`}>
            <Picture
              src={post.data.image}
              alt={post.data.title}
              placeholder="dominantColor"
            />
          </div>
          <Content />
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <Tags tags={tags} />
          <Share
            className="social-share mb-4"
            title={title}
            description={description}
            slug={post.slug}
          />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="h3 mb-8 text-center">Similar Posts</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
